.panel-default {
  width: 418px;
  margin: 0 auto;
}

.panel {
  margin-top: 120px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
