body {  word-break: break-word; }

label, textarea { width: 100%; }

.panel-default {
  width: 418px;
  margin: 0 auto;
}

.panel {
  margin-top: 120px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

@for $i from 1 through 400 {
  .width-#{$i} { width: $i*1px; }
  .margin-left-#{$i} { margin-left: $i*1px; }
  .margin-right-#{$i} { margin-right: $i*1px; }
  .margin-bottom-#{$i} { margin-bottom: $i*1px; }
  .margin-top-#{$i} { margin-top: $i*1px; }
  .padding-left-#{$i} { padding-left: $i*1px; }
  .padding-bottom-#{$i} { padding-bottom: $i*1px; }
}

.glyphicon { cursor: pointer; }

.board-list {
  list-style: none;

  li {
    float: left;
    width: 25%;
    box-sizing: border-box;
    position: relative;
  }
}

.board-list a {
  color: #777;
  left: -39px;
  text-decoration: none;
  background-color: #f8f8f8;
  height: 90px;
  margin: 0 16px 16px 0;
  font-size: 16px;
  line-height: 22px;
  background-size: cover;
  background-position: center center;
  border-radius: 8px;
  display: block;
  font-weight: 700;
  min-height: 18px;
  padding: 8px 12px;
  position: relative;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #777;
  }
}
