.list-container {
  float: left;
  width: 270px;
  max-height: 100%;
  margin-right: 5px;
  cursor: grab;
}

.list-body {
  margin-bottom: 5px;
  padding: 5px;
  min-height: 155px;
  border-radius: 5px;
  background-color: #f8f8f8;
  display: block;
  border: 1px solid #e7e7e7;
}

.list-header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 19px;
}
